header{
    background-color: black;
    text-align: center;
}
h1{
    font-size: 100px;
    color: lime;
    text-align: center;
    display: inline-block;
}

footer{
    background-color: black;
}
p{
    text-align: center;
    color: white;
    font-size: 20px;
}