header{
    background-color: black;
    text-align: center;
}
h1{
    font-size: 100px;
    color: lime;
    text-align: center;
    display: inline-block;
}

.container{
    text-align: center;
    margin: 100px 0px ;
}
footer{
    background-color: black;
}
p{
    text-align: center;
    color: white;
    font-size: 20px;
}